:root {
--darkgray: #1F262E;
--lightgray: #2A313B;
--lightblue: #007DFB;
--darkblue: #004080;
--yellow: #F2A900;
--orange: #ffb300
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.WorkoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkgray);
  color: #fff;
  height: 100vh;
}

.workout-container {
  display: flex;
  width: 70%;
  margin-top: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.workout-Search-div {
  background-color: var(--lightgray);
  border-radius: 20px;
  margin: 20px;
  max-height:800px;
  padding-right:20px;
}

.workout-Search-bar {
  padding: 10px;
  background-color: var(--offgray);
  border-radius: 20px;
  margin:10px;
  font-size: 25px;;
}

.workout-cards {
  display: grid;
  gap: 10px;
  margin: 10px;
  width: 100%;
  max-height: 700px;
  overflow-y: auto;
  scroll-margin-left: 20px;
  
}

.workout-card {
  font-size: 20px;
  text-align: left;
  padding: 20px;
  margin-right: 5px;
  background-color: #242a33;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
}

.workout-card:hover {
  text-align: left;
  padding: 20px;
  background-color: #4D5B6B;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 150px;
  padding: 20px;
  background-color: var(--lightgray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header h1 {
  padding: 10px 20px;
  margin: 0;
}

.customWorkout {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  color: #000;
  width: 250px;
  padding: 10px 20px;
  border: none;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  position: relative;
  font-size: 18px;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
}

.profile-button {
  width: 100px;
  height: 100px;
  background-color: var(--yellow);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 140px;
  right: 20px;
  background-color: var(--lightgray);
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #6e8299;
}



.workout-plans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex: 2;
}

.workout-plan {
  background-color: var(--lightgray);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.viewButton,
.progressButton {
  background-color: var(--yellow);
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.viewButton:hover,
.progressButton:hover {
  background-color: var(--lightblue);
}

.workout-log {
  flex: 1;
  background-color: var(--lightgray);
  margin: 20px;
  text-align: center;
  margin-top: 0px;
  padding: 20px;
  border-radius: 10px;
  height: 50vh;
}
.workout-log ul {
  border: 1px solid #ddd; 
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 100%; 
  overflow-y: auto;  
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 8px 0;
  padding: 12px;
  line-height: 1.6;
}

.exercise-info {
  flex-grow: 1;
  color: #333;
}

.play-button a {
  display: inline-block;
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
  background: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.play-button a:hover {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.1);
}
.popup-content {
  background-color: var(--lightgray);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  color: #fff;
}

.popup-content label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

.popup-content input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.closeButton,
.enterButton {
  margin-top: 10px;
  background-color: var(--yellow);
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.closeButton:hover,
.enterButton:hover {
  background-color: var(--lightblue);
}

.enterButton {
  margin-left: 10px;
}

.progress-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  background-color: var(--lightgray);
  color: white;
  text-align: center;
}

.progress-bar {
  width: 80%;
  height: 20px;
  background-color: #555;
  border-radius: 10px;
  margin: 10px auto;
}
.play-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play-button p {
  color: black;
}
.progress-fill {
  height: 100%;
  background-color: var(--yellow);
  border-radius: 10px;
  transition: width 0.5s;
}