body {
  color: white;
}

.competitions-container {
  width: 100%;
  display: grid;
  position: relative;
}

.the-header h1 {
  color: white;
  text-align: left;
}

.the-header {
  width: 100%;
  height: 150px;
  padding: 20px;
  background-color: #2A313B;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* position: relative; */
}

.menubar-div {
  display: flex;
  margin-left: auto;
  margin-right:0;
}

.logo-button {
  width: 100px;
  height: 100px;
  background-color: #ffb300;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}


.header h1 {
  padding: 10px 20px;
  margin: 0;
}

.profile-button {
  width: 100px;
  height: 100px;
  background-color: #ffb300;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 140px;
  right: 20px;
  background-color: #2A313B;
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #6e8299;
}

.comp-info {
  background-color: #1F262E;
  display: inline-flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.competition-cards {
  display: grid;
  gap: 10px;
  margin-top: 10px;
  width: 40%;
  max-width: 400px;
  max-height: 600px;
  overflow-y: auto;
  scroll-margin-left: 20px;
  margin-left: auto;
}

.competition-details {
  width: 40%;
  color: #FFFFFF;
  margin: 10px;
  overflow-y: auto;
  max-height: 600px;
  padding-left:5px;
  padding-right:5px;
  max-width: 400px;
  margin-right: auto;
}

.competition-card {
  font-size: 16px;
  text-align: left;
  padding: 20px;
  margin-right: 5px;
  background-color: #2A313B;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
}

.competition-card:hover {
  font-size: 16px;
  text-align: left;
  padding: 20px;
  background-color: #4D5B6B;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.leaderboard {
  background-color: #2A313B;
  border-radius: 8px;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
}

.table {
  table-layout: fixed;
  width: 100%;
}

th {
  color: #FFFFFF;
  text-align: left;
  width: 1%
}

td {
  color: #FFFFFF;
  text-align: center;
}

.rewards {
  background-color: #2A313B;
  border-radius: 8px;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
}

.competition-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-button {
  padding: 5px 15px;
  background-color: #F2A900;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-button:hover {
  background-color: #007DFB;
}

.leaderboard, .rewards {
  margin-top: 15px;
}

/* width */
::-webkit-scrollbar {
width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
background: #2A313B;
border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #4D5B6B;
border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #6e8299;
}
