:root {
  --darkgray: #1F262E;
  --lightgray: #2A313B;
  --lightblue: #007DFB;
  --darkblue: #004080;
  --yellow: #F2A900;
  --offwhite: #c4c4c4;
  --offgray: #b4b4b4;
}

body {
  color: white;
  background-color: var(--darkgray);
  /*font-family: Arial, sans-serif;*/
  margin: 0;
  padding: 0;
}

.competitions-container {
  width: 100%;
  height: 100vh;
  background-color: var(--darkgray);
  padding: 20px;
}

.create-comp-btn {
  background-color: var(--yellow);
  color: #FFFFFF;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.create-comp-btn:hover {
  background-color: var(--lightblue);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #2A313B;
  padding: 15px; /* Reduced padding */
  border-radius: 8px;
  max-width: 400px; /* Reduced maximum width */
  width: 80%; /* Adjusted width percentage */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.popup-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}

.competition-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #FFFFFF;
}

.competition-form input,
.competition-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid var(--offgray);
  font-size: 16px;
  background-color: var(--lightgray);
  color: white;
}

.award-entry {
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.close-btn {
  background-color: var(--offgray);
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  background-color: var(--lightblue);
}

/* Competitions List and Card Styles */
.comp-info {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
/*.comp-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}*/


.competition-card {
  font-size: 20px;
  color: #FFFFFF;
  text-align: left;
  padding: 20px;
  margin-right: 5px;
  background-color: #242a33;
  border-radius: 8px;
  border: none;
}

.competition-card:hover {
  text-align: left;
  padding: 20px;
  background-color: #4D5B6B;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.competition-cards {
  display: grid;
  gap: 10px;
  margin: 10px;
  /* padding-right: 80px; */
  width: 100%;
  max-height: 700px;
  overflow-y: auto;
  scroll-margin-left: 20px;
  
}

.competition-details {
  
  color: #FFFFFF;
  margin: auto;
  overflow-y: auto;
  max-height: 800px;
  padding-left:5px;
  padding-right:5px;
  max-width: 400px;
}


.join-button,
.edit-button {
  padding: 5px 15px;
  background-color: var(--yellow);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.join-button:hover,
.edit-button:hover {
  background-color: var(--lightblue);
}

.description,
.date-range {
  margin: 10px 0;
  font-size: 16px;
}

.leaderboard,
.rewards {
  background-color: var(--lightgray);
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
  color: #FFFFFF;
  text-align: center;
}



.table {
  width: 100%;
  table-layout: fixed;
  margin-top: 10px;
}


th {
  color: #FFFFFF;
  text-align: left;
  width: 1%
}

td {
  color: #FFFFFF;
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--lightgray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4D5B6B;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e8299;
}

.Search-div {
  background-color: var(--lightgray);
  border-radius: 20px;
  margin: 20px;
  max-height:800px;
  padding-right:20px;
}

.Search-bar {
  padding: 10px;
  background-color: var(--offgray);
  border-radius: 20px;
  margin:10px;
  font-size: 25px;;
}

.competition-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.competitions-log {
  margin: 20px;
  background: var(--lightgray);
  border-radius: 20px;
}
.competitions-log h2{
  margin: 20px;
}
h2 {
  color: var(--yellow);
}
.competition-card .competition-name {
  color: #FFFFFF;
}
.competition-card h3 {
  color: #FFFFFF;
}
h2.leaderboard-header, h2.rewards-header {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--yellow); /* Or any other color */
}

.competition-card {
  color: #F2A900; /* Set a different color for the competition cards */
}

