:root {
  --darkgray: #1F262E;
  --lightgray: #2A313B;
  --lightblue: #007DFB;
  --darkblue: #004080;
  --yellow: #F2A900;
  --offwhite: #c4c4c4;
  --offgray: #b4b4b4;
}

body {
  height: 100%;
}

/* Container for the entire page */
.home-page-container {
  width: 100%;
  height: 100vh;
  background-color: var(--darkgray); 
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.homepage-main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

}

.Workouts-Button-big, 
.Competitions-Button-big, 
.Milestones-Button-big, 
.Profile-Button-big {
  margin: 30px;
  padding: auto;
  border-radius: 20px;
  background-color: var(--lightgray);
  display: flex;
  font-size: 50px;
  cursor: pointer;
}

.Workouts-logo-button, .Comp-logo-button, .Milestones-logo-button, .Pofile-logo-button {
  width: 200px;
  height: 200px;
  background-image: url("./src/assets/Fitness Pal Pro logo 2.png");
  background-position: center;
  background-size: 200px 200px;
  background-color: var(--yellow);
  border-radius: 50%;
  cursor: pointer;
  margin: auto;
  margin-left: 20px;
}

.Workouts-logo-button {
  background-image: url("./src/assets/workouts logo 1.png");
  margin-left: 20px;

}
.Milestones-logo-button {
  background-image: url("./src/assets/milestones logo.png");
  margin-left: 20px;

}

.Pofile-logo-button {
  background-color: var(--offwhite);
  background-image: url("./src/assets/profile-icon-png-898.png");
  margin-left: 20px;

}

.Profile-Button-big {
  cursor: auto;
}

.Profile-name-div {
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.profile-button-holder {
  display: flex;
  flex-direction: row;
}

.Profile-button-name {
  margin: auto;
  margin-bottom: 0;
  cursor: pointer;
}

.view-friends {
  cursor: pointer;
  background-color: var(--offgray);
  border-radius: 20px;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;

}

.button-name {
  margin: auto;
  text-align: center;
}
