.goals-container {
  width: 100%;
  display: grid;
  position: relative;
  /* background-color: #1F262E; */
  height: 100vh;
  overflow-y:hidden;
}

.milestones-body {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.milestones-search-div {
  background-color: var(--lightgray);
  border-radius: 20px;
  margin: 20px;
  max-height:800px;
  padding-right:20px;
}

/* .milestones-search-bar {
  padding: 10px;
  background-color: var(--offgray);
  border-radius: 20px;
  margin:10px;
  font-size: 25px;;
} */

.milestones-search-bar {
  padding: 10px;
  background-color: #8b8b8b;
  border-radius: 20px;
  margin: 10px;
  font-size: 25px;
  border: none; /* Remove default border */
  outline: none; /* Remove focus outline */
  width: 100%; /* Optional: Make the input stretch full width */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
  color: white;
}
.milestones-search-bar::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.4;
}

.milestones-cards {
  display: grid;
  gap: 10px;
  margin: 10px;
  /* padding-right: 80px; */
  width: 100%;
  max-height: 700px;
  overflow-y: auto;
  scroll-margin-left: 20px;
  
}

.milestones-card {
  font-size: 20px;
  text-align: left;
  padding: 20px;
  margin-right: 5px;
  background-color: #242a33;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
}

.milestones-card:hover {
  text-align: left;
  padding: 20px;
  background-color: #4D5B6B;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.graphs-body {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.goals-div {
  border-radius: 20px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: var(--lightgray);
}

.graph-div {
  border-radius: 20px;
  margin: 20px;
  margin-bottom:0px;
  padding: 20px;
  padding-bottom: 0px;
  background-color: var(--lightgray);
}

.graph-topbar {
  display: flex;
}

.zoom-button {
  margin:10px;
  margin-left: auto;
  cursor: pointer;
}