.goals-container {
  width: 100%;
  display: grid;
  position: relative;
  background-color: #1F262E;

}

/* for top menu bar */
.the-header {
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: #2A313B;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.logo-div {
  display: flex;
  margin-left: 0;
  margin-right:auto;
}
.menubar-div {
  display: flex;
  margin-left: auto;
  margin-right:0;
}
.logo-button {
  width: 50px;
  height: 50px;
  background-color: #ffb300;
  border-radius: 50%;
  cursor: pointer;
}
.logo-name {
  margin: 10px 20px;
  font-size: 50px;
  line-height: 42px;
  cursor: pointer;
}
.menu-button {
  text-align: center;
  margin: 10px 20px;
  line-height: 30px;
  cursor: pointer;
  font-size: 20px;
}
.the-profile-button {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background-color: #ffb300;
  border-radius: 50%;
  cursor: pointer;
}
.the-dropdown-menu {
  position: absolute;
  top: 100px;
  right: 0px;
  background-color: #2A313B;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  padding-top: 0px;
  color: white;
}
.the-dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.the-dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
}
.the-dropdown-menu li:hover {
  background-color: #6e8299;
  border-radius: 10px;
}
/* end of top menu bar */

.weekly-container, .monthly-container {
  text-align: center;
  margin-bottom: 2em;
}

.weekly-container {
  text-align: center;
}

.skill-button {
  padding: 30px;
  background: #246CBE;
  backdrop-filter: blur(30px);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 15px;
  font-size: 3em;
  color: white;
  border: 2px solid white;
  transition: background-color .2s ease-in-out, transform .3s ease-in-out;
}

.skill-button:hover {
  background-color: #FD760F;
  transform: scale(1.05);
}

h1 {
  text-align: center;
  font-size: 4.5em;
  margin-bottom: 50px;
}

.submit-button {
  text-align: right;
  margin-right: 85px;
}

.button-submit {
  background: transparent;
  backdrop-filter: blur(30px);
  border: 2px solid white;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  height: 50%;
  color: white;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.button-submit:hover {
  background: white;
  border: 2px solid black;
  color: black;
}

.scroller {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}


.scroller-inner {
  display: flex;
  justify-content: space-around;
  transition: none;
  gap: 20px; 
  padding: 10px;
}

.start-marquee {
  animation: marquee-animation .2s ease-in-out, fade-in .25s ease-in-out;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(0); /* Start at initial position */
  }
  100% {
    transform: translateX(-100%); /* Move all content to the left */
  }
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
